
/* .login-component{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
} */
/* .child {
    width: 100px;
    height: 200px;
    }
/* body{
    height:100%;
    background-image: url(../Earth.jpeg);
    background-repeat: no-repeat;
    background-size: 1500px;
    background-position: center;

} */